<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Luca & Francesca</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
      tailwind.config = {
        theme: {
          extend: {
            colors: {
              oliva: {
                DEFAULT: "#658C7C",
                50: "#CDDBD6",
                100: "#C2D3CC",
                200: "#AAC2B8",
                300: "#92B0A4",
                400: "#7A9F90",
                500: "#658C7C",
                600: "#4D6B5F",
                700: "#364B42",
                800: "#1E2A25",
                900: "#070A09",
              },
              rosa: {
                DEFAULT: "#F9D5CD",
                50: "#FFFFFF",
                100: "#FFFFFF",
                200: "#FFFFFF",
                300: "#FFFFFF",
                400: "#FDF4F1",
                500: "#F9D5CD",
                600: "#F3AB9B",
                700: "#ED8169",
                800: "#E75737",
                900: "#CD3919",
              },
              petrolio: {
                DEFAULT: "#123243",
                50: "#419CCC",
                100: "#3592C4",
                200: "#2C7AA3",
                300: "#236283",
                400: "#1B4A63",
                500: "#123243",
                600: "#061117",
                700: "#000000",
                800: "#000000",
                900: "#000000",
              },
            },
            fontFamily: {
              parisienne: ["Parisienne", "cursive"],
              baskerville: ["Libre Baskerville", "serif"],
              limelight: ["Limelight", "cursive"],
            },
            gridTemplateColumns: {
              '2-auto': 'repeat(2, auto)',
              '3-auto': '1fr 1fr auto',
            },
          },
        },
      };
    </script>
    <style type="text/tailwindcss">
      @layer components {
        .title {
          @apply text-center p-4 bg-oliva-600 text-neutral-50;
        }
      }
    </style>
    <style>
      html {
        scroll-behavior: smooth;
      }
      .grid-timeline {
        /* display: grid; */
        grid-template-areas: "left center right";
        grid-template-columns: 1fr 1rem 1fr;
      }
      .grid-area-left {
        grid-area: left;
      }
      .grid-area-right {
        grid-area: right;
      }

      #hero {
        position: relative;
        background-image: linear-gradient(
              rgba(18, 50, 67, 0.1),
              rgba(18, 50, 67, 0.1)
            ), url(images/hero.jpg);
        
      }
      #partecipations {
        position: relative;
        background-image: url(images/partecipations.jpg);
        background-color: rgba(101, 140, 124, 0.7);
      }
      #partecipations::before {
        content: "";
        position: absolute;
        top: 0; 
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(101, 140, 124, 0.8);
      }

      @media (min-width: 768px) { 
        #hero {
        background-image: linear-gradient(
              rgba(18, 50, 67, 0.1),
              rgba(18, 50, 67, 0.1)
            ), url(images/hero2.jpg);
        }
      }
    </style>
    <script src="https://unpkg.com/vue@next"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Limelight&family=Parisienne&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <nav
      class="absolute top-0 w-full z-50 bg-oliva text-white px-2 sm:px-4 md:py-2.5 md:h-[60px]"
    >
      <div
        class="flex flex-wrap justify-between mx-auto"
      >
        <a href="#" class="md:flex-auto md:pl-8 pl-2 py-1 inline-flex items-center">
          <img src="images/logo.svg" class="w-20 md:w-28 max-w-28">
        </a>
        <button
          id="hamburger"
          type="button"
          class="inline-flex items-center p-2 ml-3 text-sm text-white md:hidden"
          aria-controls="mobile-menu-2"
          aria-expanded="false"
        >
          <span class="sr-only">Open main menu</span>
          <svg
            class="w-6 h-6"
            fill="currentColor"
            viewBox="0 0 20 20"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill-rule="evenodd"
              d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z"
              clip-rule="evenodd"
            ></path>
          </svg>
          <svg
            class="hidden w-6 h-6"
            fill="currentColor"
            viewBox="0 0 20 20"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill-rule="evenodd"
              d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
              clip-rule="evenodd"
            ></path>
          </svg>
        </button>
        <div class="hidden w-full md:block md:w-auto md:flex-auto" id="mobile-menu">
          <ul
            class="flex flex-col md:h-full md:items-center md:flex-row md:space-x-6 md:text-sm md:font-medium"
          >
            <li class="menuItem relative group w-full text-center">
              <a
                href="#save-the-date"
                class="block py-2 text-white md:p-0 md:text-white"
                aria-current="page"
                >La data</a
              >
              <!-- <div class="hidden md:block md:w-full h-0.5 bg-rosa transition-al absolute bottom-0" ></div> -->
              <hr class="w-1/2 mx-auto md:hidden">
            </li>
            <li class="menuItem relative group w-full text-center">
              <a
                href="#our_story"
                class="block py-2 text-white md:hover:text-rosa md:p-0"
                >La nostra storia</a
              >
              <hr class="w-1/2 mx-auto md:hidden">
            </li>
            <li class="menuItem relative group w-full text-center">
              <a
                href="#timeline"
                class="block py-2 text-white md:hover:text-rosa md:p-0"
                >Il nostro inizio</a
              >
              <hr class="w-1/2 mx-auto md:hidden">
            </li>
            <li class="menuItem relative group w-full text-center">
              <a
                href="#checklist"
                class="block py-2 text-white md:hover:text-rosa md:p-0"
                >Work in progress</a
              >
              <hr class="w-1/2 mx-auto md:hidden">
            </li>
            <li class="menuItem relative group w-full text-center">
              <a
                href="#partecipations"
                class="block py-2 text-white md:hover:text-rosa md:p-0"
                >Il grande giorno</a
              >
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="relative">
      <section id="hero"
        class="bg-cover bg-center h-screen flex justify-center"
      >
        <div class="container mx-auto flex justify-center items-center">
          <div class="text-center">
            <p
              class="font-parisienne text-8xl <sm:text-6xl text-white font-bold"
            >
              Luca <span class="font-baskerville font-normal">&</span> Francesca
            </p>
          </div>
        </div>
      </section>

      <section id="countdown" class="bg-oliva-400 py-10">
        <div class="w-full text-center flex items-center justify-center">
          <div class="w-full flex items-center justify-evenly p-4">
            <div v-for="(t, i) in timer" :key="i" class="text-white" :class="[i === 's' ? 'hidden sm:block' : 'block']">
                <p class="text-5xl font-limelight">{{t.val}}</p>
                <p class="text-5xl text-petrolio font-parisienne -mt-5">
                  {{t.label}}
                </p>
              <!-- <div v-if="i !== 's'" class="text-2xl mx-1">:</div> -->
            </div>
          </div>
        </div>
      </section>

      <section
        id="save-the-date"
        class="h-60 md:h-80 bg-cover md:bg-center"
        style="
          background-image: linear-gradient(
              rgba(18, 50, 67, 0.3),
              rgba(18, 50, 67, 0.3)
            ),
            url(images/save_the_date.jpg);
        "
      >
        <div class="h-full flex items-center">
          <div class="text-center text-4xl flex-1">
            <p class="font-parisienne text-white text-5xl">Save</p>
            <p class="font-limelight text-rosa -mt-4">the date!</p>
          </div>

          <div class="relative text-center text-5xl leading-none flex-1">
            <p class="relative font-limelight text-rosa">04</p>
            <p class="relative font-parisienne text-white -mt-6 z-10">giugno</p>
            <p class="relative font-limelight text-rosa -mt-3">2022</p>
          </div>
        </div>
      </section>

      <section id="our_story" class="p-10 max-w-screen-md mx-auto">
        <div class="flex flex-col md:flex-row md:space-x-6">
          <div class="flex items-center mb-8 md:mb-0">
            <figure class="block relative">
              <img src="images/beginning.jpg" class="object-cover" />
            </figure>
          </div>

          <div class="md:px-6">
            <h2 class="leading-1 text-4xl text-center md:text-left">
              <span class="block font-parisienne text-petrolio"
                >Il nostro</span
              >
              <span class="block font-limelight text-oliva pl-2 -mt-3"
                >inizio</span
              >
            </h2>
            <article class="text-sm pt-4 md:pt-6">
              <p>
                Luca vide Francesca, qualcosa in lei lo colpì, decise quindi di
                fare il primo passo e scriverle. Il liceo era lo stesso, e
                l'inverno si avvicinava...piena stagione sciistica pensò. Questo
                sarà il mio approccio! "Ciao, ho visto che sai sciare, vai a
                fare la vacanza di sci con Moscatelli?" Francesca non sapeva se
                ridere o piangere a questo messaggio, in fondo...lui doveva aver
                guardato un po' di sue foto su facebook per capire che sciava.
                Ma come aveva fatto a non accorgersi che questo stesso anno si
                era rotta un ginocchio mentre sciava? Però quel ragazzo le
                piaceva, sembrava dolce, aveva dei ricci ribelli e due occhi in
                cui perdersi. Gli avrebbe risposto.
              </p>
              <p class="pt-4">
                Da quel giorno tutto è cambiato nelle loro vite, si sono
                conosciuti, si sono piaciuti e si sono innamorati, ogni giorno
                di più. Hanno litigato tante volte e altrettante volte si sono
                chiesti se stare insieme era la cosa giusta, ma alla fine hanno
                capito che l'unica cosa che volevano era passare la loro vita
                insieme.
              </p>
            </article>
          </div>
        </div>
      </section>


      <section
        id="timeline"
        class="py-6 bg-cover bg-center"
        style="
          background-image: linear-gradient(
              rgba(18, 50, 67, 0.7),
              rgba(18, 50, 67, 0.7)
            ),
            url(images/our_story.jpg);
        "
      >
        <h2 class="text-center pb-4 text-4xl">
          <span class="block font-parisienne text-white">La nostra</span>
          <span class="block font-limelight text-rosa -mt-2">storia</span>
        </h2>
        <div
          class="relative grid grid-cols-[1fr,1rem,1fr] gap-x-6 justify-items-stretch items-center overflow-hidden p-4 :md:p-10"
          id="events"
        >
          <template v-for="(event, i) in events" :key="`event_${i}`">
            <div
              :class="[`text-${event.color}-600`, 'pb-5', i % 2 === 0 ? 'text-right' : 'text-left']"
              :style="{order: 3*i + (i % 2 === 0 ? 1 : 3)}"
            >
              <div class="font-parisienne lowercase text-3xl text-white">{{ event.month }}</div>
              <div class="font-limelight text-3xl font-bold text-rosa">{{ event.year }}</div>
            </div>

            <div
              class="flex flex-col justify-center items-center h-full"
              :style="{order: 3*i + 2}"
            >
              <div class="relative border border-l-2 border-white border-solid h-full">
                <div class="w-4 h-4 rounded-full bg-rosa absolute top-1/3 -ml-2"></div>
              </div>
            </div>

            <div
            class="text-white pb-5"
              :class="[i % 2 === 0 ? 'text-left' : 'text-right']"
              :style="{order: 3*i + (i % 2 === 0 ? 3 : 1)}"
            >
              <div class="text">{{ event.text }}</div>
            </div>
          </template>
        </div>
        <div
          class="h-16 flex flex-col justify-center items-center h-full"
        >
          <div class="text-rosa font-limelight text-2xl">To be continued...</div>
        </div>
      </section>

      <section id="checklist" class="py-10 max-w-screen-lg mx-auto">

        <h2 class="text-center pb-4 text-4xl">
          <span class="block font-parisienne text-petrolio">Wedding</span>
          <span class="block font-limelight text-oliva -mt-2">work in progress</span>
        </h2>

        <div class="py-4 px-7 lg:px-4 grid grid-cols-2-auto gap-x-4 gap-y-2 md:grid-cols-3-auto lg:grid-cols-4">
          <div
            v-for="(e, i) in todos"
            :key="i"
            class="flex items-center space-x-2"
          >
            <div>
              <!-- <svg
                version="1.1"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 52 52"
                class="w-7 fill-petrolio"
              >
              <path d="M 22.669922 0.056640625 A 22.612173 22.612173 0 0 0 0.056640625 22.669922 A 22.612173 22.612173 0 0 0 22.669922 45.28125 A 22.612173 22.612173 0 0 0 45.28125 22.669922 A 22.612173 22.612173 0 0 0 22.669922 0.056640625 z M 22.669922 5.9941406 A 16.674656 16.674656 0 0 1 39.34375 22.669922 A 16.674656 16.674656 0 0 1 22.669922 39.34375 A 16.674656 16.674656 0 0 1 5.9941406 22.669922 A 16.674656 16.674656 0 0 1 22.669922 5.9941406 z " style="opacity:1;fill:#000000;fill-opacity:1;fill-rule:nonzero;stroke:#91c2e1;stroke-width:0;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:0.30000001;stroke-dasharray:none;stroke-opacity:1;paint-order:normal" />

                <svg v-if="e.checked"  class="fill-rosa-700">
                  <path id="path4549" d="m 43.296369,3.0730864 c -0.828399,0 -1.625522,0.1867697 -2.369026,0.555841 C 31.884649,8.094422 25.738227,16.613445 22.531864,22.059257 l -5.921226,-4.194723 c -0.910614,-0.646098 -1.982083,-0.987467 -3.096445,-0.987467 -1.737227,0 -3.374367,0.846273 -4.3779185,2.262684 -1.7095239,2.411921 -1.1375974,5.765734 1.2752165,7.474364 l 7.304574,5.175041 c 1.605862,1.137598 3.449431,1.739014 5.33232,1.739014 0.66129,0 1.326155,-0.07507 1.978508,-0.223409 2.549541,-0.579969 4.779161,-2.293961 6.116933,-4.702308 C 33.479788,24.393432 38.475208,16.800215 45.67612,13.243547 46.961167,12.60996 47.920931,11.51347 48.380259,10.156932 48.840481,8.8003937 48.743969,7.3455558 48.109488,6.0614022 47.198874,4.2178329 45.355305,3.0730864 43.296369,3.0730864 Z"/>
                </svg>
              </svg> -->
              <svg
                version="1.1"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 24 24"
                class="w-6"
                :class="[e.checked ? 'fill-oliva' : 'fill-petrolio']"
              >
                <g>
                  <path
                  d="M 12,20 A 8,8 0 0 1 4.0000001,12 8,8 0 0 1 12,4 a 8,8 0 0 1 8,8 8,8 0 0 1 -8,8 M 12,2 A 10,10 0 0 0 2.0000001,12 10,10 0 0 0 12,22 10,10 0 0 0 22,12 10,10 0 0 0 12,2 Z"
                  id="path823"
                />
                  <!-- <path
                    d="m 20,12 a 8,8 0 0 1 -8,8 8,8 0 0 1 -8,-8 8,8 0 0 1 8,-8 c 0.76,0 1.5,0.11 2.2,0.31 L 15.77,2.74 C 14.61,2.26 13.34,2 12,2 A 10,10 0 0 0 2,12 10,10 0 0 0 12,22 10,10 0 0 0 22,12"
                  /> -->
                  <svg v-if="e.checked" viewBox="0 0 37 44" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M35.7891 0.222656C36.5898 0.222656 36.9902 0.642578 36.9902 1.48242C36.9902 1.91211 36.8535 2.41016 36.5801 2.97656C36.3262 3.52344 36.1211 3.97266 35.9648 4.32422L20.0566 43.6113L0.779297 0.544922H16.7754L26.0918 22.459L32.625 6.11133C33.3281 4.35352 33.7871 3.08398 34.002 2.30273C34.2168 1.52148 34.4512 0.984375 34.7051 0.691406C34.959 0.378906 35.3203 0.222656 35.7891 0.222656Z" fill="#668172"/>
                  </svg>
                    
                  <!-- <svg class="fill-oliva">
                    <path
                      d="M 7.91,10.08 6.5,11.5 11,16 21,6 19.59,4.58 11,13.17 Z"
                    /> -->
                  </svg>
                </g>
              </svg>
            </div>
            <p class="pl-2" :class="[e.checked ? 'text-oliva' : 'text-petrolio']">{{ e.text }}</p>
          </div>
        </div>
      </section>

      <section id="partecipations" class="py-10 bg-cover bg-center">
        <h2 class="relative text-center pb-4 text-4xl">
          <span class="block font-parisienne text-white ">Il grande</span>
          <span class="block font-limelight text-rosa -mt-2">giorno</span>
        </h2>

        <div class="relative flex flex-col items-center">
          <div class="my-4 flex flex flex-col items-center">
            <figure class="w-16">
              <img src="images/partecipations/chiesa.png" />
            </figure>

            <div class="text-center">
              <p class="font-limelight text-petrolio text-2xl">ore 11</p>
              <p class="font-parisienne text-white text-3xl">Chiesa parrocchiale <br> Santi Nazaro e Celso</p>
              <p class="font-limelight text-petrolio text-xl">Marcallo con Casone</p>
            </div>

            <div class="pt-8">
              <a href="https://goo.gl/maps/hcmTSHeaqVu3qmGs9" class="border border-solid border-rosa px-2 py-1 rounded-md text-rosa hover:bg-rosa hover:text-petrolio">Come raggiungerci</a>
            </div>

          </div>

          <div class="mt-10 flex flex flex-col items-center">
            <div>
              <figure class="inline-block w-14">
                <img src="images/partecipations/ristorante.png" />
              </figure>
              <figure class="inline-block w-14">
                <img src="images/partecipations/torta.png" />
              </figure>
            </div>

            <div class="text-center mt-2">
              <p class="font-parisienne text-white text-3xl">La Barcella</p>
              <p class="font-limelight text-petrolio text-xl">Robecco sul Naviglio</p>
            </div>

            <div class="pt-8 flex flex-col items-center">
              <a href="https://goo.gl/maps/xon2af8emactoSEP6" class="border border-solid border-rosa px-2 py-1 rounded-md text-rosa hover:bg-rosa hover:text-petrolio">Come raggiungerci</a>
              <a href="mailto:invitati@lucaefrancescasposi.it" class="mt-6 border border-solid border-rosa px-2 py-1 rounded-md text-rosa hover:bg-rosa hover:text-petrolio">Confermaci la tua presenza*<span class="block font-limelight text-sm w-full text-center">entro il 30 aprile 2022</span></a>
              <span class="text-petrolio text-sm">*se hai esigenze alimentari ricordati di dircelo</span>
            </div>

          </div>
        </div>
      </section>


      <section id="primi-passi"></section>
    </div>

    <script>
      const { ref, reactive } = Vue;

      const future = Date.parse("jun 04, 2022 11:00:00");

      Vue.createApp({
        setup() {
          const timer = reactive({
            d: {
              val: undefined,
              label: "giorni",
            },
            h: {
              val: undefined,
              label: "ore",
            },
            m: {
              val: undefined,
              label: "minuti",
            },
            s: {
              val: undefined,
              label: "secondi",
            },
          });

          const updateTimer = () => {
            let now = new Date();
            let diff = future - now;
            days = Math.floor(diff / (1000 * 60 * 60 * 24));
            hours = Math.floor(diff / (1000 * 60 * 60));
            mins = Math.floor(diff / (1000 * 60));
            secs = Math.floor(diff / 1000);

            timer.d.val = days;
            timer.h.val = hours - days * 24;
            timer.m.val = mins - hours * 60;
            timer.s.val = secs - mins * 60;
          };

          return {
            timer,
            updateTimer,
          };
        },
        // data() {
        //   return {
        //     timer: {days: undefined, hours: undefined, mins: undefined, secs: undefined}
        //   }
        // },
        created() {
          this.updateTimer();
          setInterval(this.updateTimer, 1000);
        },
      }).mount("#countdown");

      Vue.createApp({
        setup() {
          const events = reactive([
            {
              month: "DICEMBRE",
              year: "2012",
              text: "Luca scrive a Francesca",
              color: "green",
            },
            {
              month: "GENNAIO",
              year: "2013",
              text: "Prima uscita",
              color: "emerald",
            },
            {
              month: "GENNAIO",
              year: "2013",
              text: "Primo bacio",
              color: "teal",
            },
            {
              month: "FEBBRAIO",
              year: "2013",
              text: "Ufficialmente insieme!!",
              color: "cyan",
            },
            {
              month: "LUGLIO",
              year: "2013",
              text: "Prima vacanza",
              color: "sky",
            },
            {
              month: "",
              year: "2014 - 2015",
              text: "Anni di risate e tanto amore",
              color: "blue",
            },
            {
              month: "AGOSTO",
              year: "2016",
              text: "Prima grande litigata (spolier abbiamo fatto pace)",
              color: "indigo",
            },
            {
              month: "",
              year: "2017 - 2019",
              text: "Altri anni di risate e tanto amore",
              color: "violet",
            },
            {
              month: "FEBBRAIO",
              year: "2020",
              text: '"COVID"',
              color: "purple",
            },
            {
              month: "MAGGIO",
              year: "2020",
              text: "Abbiamo superato anche il lockdown",
              color: "fuchsia",
            },
            // {
            //   month: "AGOSTO",
            //   year: "2020",
            //   text: "COVID",
            //   color: "pink",
            // },
            {
              month: "DICEMBRE",
              year: "2020",
              text: 'Entrambi hanno un lavoro',
              color: "rose",
            },
            {
              month: "SETTEMBRE",
              year: "2021",
              text: '"Mi vuoi sposare?"',
              color: "rose",
            },
            {
              month: "GIUGNO",
              year: "2022",
              text: 'Matrimonio!',
              color: "rose",
            },
          ]);

          return { events };
        },
      }).mount("#timeline");

      Vue.createApp({
        setup() {
          const todos = reactive([
            {
              text: "Anello",
              checked: true,
            },
            {
              text: "Proposta",
              checked: true,
            },
            {
              text: "Francesca dice di sì!",
              checked: true,
            },
            {
              text: "Data",
              checked: true,
            },
            {
              text: "Chiesa",
              checked: true,
            },
            {
              text: "Testimoni",
              checked: true,
            },
            {
              text: "Location",
              checked: true,
            },
            {
              text: "Fiori",
              checked: true,
            },
            {
              text: "Invitati",
              checked: true,
            },
            {
              text: "Partecipazioni",
              checked: false,
            },
            {
              text: "Bomboniere",
              checked: false,
            },
            {
              text: "Fotografo",
              checked: true,
            },
            {
              text: "DJ",
              checked: true,
            },
            {
              text: "Abito sposa",
              checked: true,
            },
            {
              text: "Abito sposo",
              checked: false,
            },
            {
              text: "Fedi",
              checked: false,
            },
            {
              text: "Casa",
              checked: true,
            },
            {
              text: "Mobili",
              checked: false,
            },
          ]);

          return { todos };
        },
      }).mount("#checklist");
    </script>
    <script>
      const menu = document.getElementById("mobile-menu");
      const hamburger = document.getElementById("hamburger");
      const menuItems = document.querySelectorAll(".menuItem");

      function toggleMenu() {
        if (menu.classList.contains("hidden")) {
          menu.classList.remove("hidden");
          hamburger.classList.replace("text-white", "text-rosa");
        } else {
          menu.classList.add("hidden");
          hamburger.classList.replace("text-rosa", "text-white");
        }
      }

      hamburger.addEventListener("click", toggleMenu);
      menuItems.forEach( 
        function(menuItem) { 
          menuItem.addEventListener("click", toggleMenu);
        }
      )
    </script>
  </body>
</html>
