<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
      tailwind.config = {
        theme: {
          extend: {
            colors: {
              'oliva': {  DEFAULT: '#658C7C',  '50': '#CDDBD6',  '100': '#C2D3CC',  '200': '#AAC2B8',  '300': '#92B0A4',  '400': '#7A9F90',  '500': '#658C7C',  '600': '#4D6B5F',  '700': '#364B42',  '800': '#1E2A25',  '900': '#070A09'},
              'rosa': {  DEFAULT: '#F9D5CD',  '50': '#FFFFFF',  '100': '#FFFFFF',  '200': '#FFFFFF',  '300': '#FFFFFF',  '400': '#FDF4F1',  '500': '#F9D5CD',  '600': '#F3AB9B',  '700': '#ED8169',  '800': '#E75737',  '900': '#CD3919'},
              'petrolio': {  DEFAULT: '#123243',  '50': '#419CCC',  '100': '#3592C4',  '200': '#2C7AA3',  '300': '#236283',  '400': '#1B4A63',  '500': '#123243',  '600': '#061117',  '700': '#000000',  '800': '#000000',  '900': '#000000'},
            },
            fontFamily: {
              handwrite: ["Parisienne", "cursive"],
              baskerville: ["Libre Baskerville", "serif"],
            },
          },
        },
      };
    </script>
    <style type="text/tailwindcss">
      @layer components {
        .title {
          @apply text-center p-4 bg-oliva-600 text-neutral-50
        }
      }
    </style>
    <style>
      .grid-timeline {
        /* display: grid; */
        grid-template-areas: "left center right";
        grid-template-columns: 1fr 1rem 1fr;
      }
      .grid-area-left {
        grid-area: left;
      }
      .grid-area-right {
        grid-area: right;
      }
    </style>
    <script src="https://unpkg.com/vue@next"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Parisienne&display=swap" rel="stylesheet">
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@mdi/font@6.4.95/css/materialdesignicons.min.css"
    />
  </head>
  <body>
    <nav
      class="hidden fixed top-0 bg-white border-gray-200 px-2 sm:px-4 py-2.5 dark:bg-gray-800"
    >
      <div
        class="container flex flex-wrap md:justify-center items-center mx-auto"
      >
        <!-- <a href="#" class="flex">
        <svg
          class="mr-3 h-10"
          viewBox="0 0 52 72"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M1.87695 53H28.7791C41.5357 53 51.877 42.7025 51.877 30H24.9748C12.2182 30 1.87695 40.2975 1.87695 53Z"
            fill="#76A9FA"
          ></path>
          <path
            d="M0.000409561 32.1646L0.000409561 66.4111C12.8618 66.4111 23.2881 55.9849 23.2881 43.1235L23.2881 8.87689C10.9966 8.98066 1.39567 19.5573 0.000409561 32.1646Z"
            fill="#A4CAFE"
          ></path>
          <path
            d="M50.877 5H23.9748C11.2182 5 0.876953 15.2975 0.876953 28H27.7791C40.5357 28 50.877 17.7025 50.877 5Z"
            fill="#1C64F2"
          ></path>
        </svg>
        <span
          class="self-center text-lg font-semibold whitespace-nowrap dark:text-white"
          >FlowBite</span
        >
      </a> -->
        <button
          data-collapse-toggle="mobile-menu"
          type="button"
          class="inline-flex items-center p-2 ml-3 text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
          aria-controls="mobile-menu-2"
          aria-expanded="false"
        >
          <span class="sr-only">Open main menu</span>
          <svg
            class="w-6 h-6"
            fill="currentColor"
            viewBox="0 0 20 20"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill-rule="evenodd"
              d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z"
              clip-rule="evenodd"
            ></path>
          </svg>
          <svg
            class="hidden w-6 h-6"
            fill="currentColor"
            viewBox="0 0 20 20"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill-rule="evenodd"
              d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
              clip-rule="evenodd"
            ></path>
          </svg>
        </button>
        <div class="hidden w-full md:block md:w-auto" id="mobile-menu">
          <ul
            class="flex flex-col mt-4 md:flex-row md:space-x-8 md:mt-0 md:text-sm md:font-medium"
          >
            <li>
              <a
                href="#"
                class="block py-2 pr-4 pl-3 text-white bg-blue-700 rounded md:bg-transparent md:text-blue-700 md:p-0 dark:text-white"
                aria-current="page"
                >Home</a
              >
            </li>
            <li>
              <a
                href="#"
                class="block py-2 pr-4 pl-3 text-gray-700 border-b border-gray-100 hover:bg-gray-50 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-gray-400 md:dark:hover:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700"
                >About</a
              >
            </li>
            <li>
              <a
                href="#"
                class="block py-2 pr-4 pl-3 text-gray-700 border-b border-gray-100 hover:bg-gray-50 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-gray-400 md:dark:hover:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700"
                >Services</a
              >
            </li>
            <li>
              <a
                href="#"
                class="block py-2 pr-4 pl-3 text-gray-700 border-b border-gray-100 hover:bg-gray-50 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-gray-400 md:dark:hover:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700"
                >Pricing</a
              >
            </li>
            <li>
              <a
                href="#"
                class="block py-2 pr-4 pl-3 text-gray-700 hover:bg-gray-50 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-gray-400 md:dark:hover:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent"
                >Contact</a
              >
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <section
      class="bg-cover bg-center h-screen flex justify-center"
      style="background-image: url(images/hero.jpg)"
    >
      <div class="container mx-auto flex justify-center items-center">
        <div class="text-center">
          <p class="font-handwrite text-8xl <sm:text-6xl text-white font-bold">
            Luca <span class="font-baskerville font-normal">&</span> Francesca
          </p>
        </div>
      </div>
    </section>

    <section id="countdown" class="pb-6">
      <div class="w-full text-center flex items-center justify-center">
        <div
          class="w-full flex items-center justify-evenly p-4 bg-oliva-100"
        >
          <template v-for="(t, i) in timer" :key="i">
            <div
              class="min-w-[4rem] rounded-lg shadow-md bg-gradient-to-b from-oliva-300 to-oliva-200 shadow-oliva-800"
            >
              <p class="text-3xl font-bold">{{t.val}}</p>
              <p class="text-sm">{{t.label}}</p>
            </div>
            <div v-if="i !== 's'" class="text-2xl mx-1">:</div>
          </template>
        </div>
      </div>
    </section>

    <section id="calendar" class="pb-6 px-4 flex items-center">
      <div class="grow shrink basis-0 text-center">
        <span class="block text-4xl font-semibold text-neutral-900">SEGNA</span>
        <span class="block text-4xl font-semibold text-neutral-900">LA</span>
        <span class="block text-4xl font-semibold text-neutral-900">DATA!</span>
      </div>

      <div class="grow basis-0 text-center">
        <div class="grid grid-cols-7 w-52 mx-auto">
          <span v-for="(day, i) in days" :key="i" class=""> {{ day }} </span>
          <!-- </div>

        <div class="grid grid-cols-7"> -->
          <span class="leading-9"></span>
          <span class="leading-9"></span>
          <span
            v-for="(num) in 30"
            :key="`day_${num}`"
            class="relative leading-9"
          >
            <i
              v-if="num === 4"
              class="mdi mdi-heart absolute -left-0.5 -top-0.5 h-6 w-6 text-red-800 text-4xl"
              aria-hidden
            ></i>
            <span
              class="relative font-semibold"
              :class="[num === 4 ? 'text-neutral-50' : '']"
              >{{ num }}</span
            >
          </span>
        </div>
      </div>
    </section>

    <section id="our_story">
      <div class="title">
        <h2 class="text-4xl">COME È NATA</h2>
      </div>

      <div class="flex flex-col md:flex-row md:space-x-6">
        <div>
          <figure class="block relative">
            <img src="images/our_story.jpg" class="object-cover"/>
          </figure>
        </div>
        
        <p class="text-lg p-6">
          Luca vide Francesca, qualcosa in lei lo colpì, decise quindi di fare
          il primo passo e scriverle. Il liceo era lo stesso, e l'inverno si
          avvicinava...piena stagione sciistica pensò. Questo sarà il mio
          approccio! "Ciao, ho visto che sai sciare, vai a fare la vacanza di
          sci con Moscatelli?" Francesca non sapeva se ridere o piangere a
          questo messaggio, in fondo...lui doveva aver guardato un po' di sue
          foto su facebook per capire che sciava. Ma come aveva fatto a non
          accorgersi che questo stesso anno si era rotta un ginocchio mentre
          sciava? Però quel ragazzo le piaceva, sembrava dolce, aveva dei ricci
          ribelli e due occhi in cui perdersi. Gli avrebbe risposto. Da quel
          giorno tutto è cambiato nelle loro vite, si sono conosciuti, si sono
          piaciuti e si sono innamorati, ogni giorno di più. Hanno litigato
          tante volte e altrettante volte si sono chiesti se stare insieme era
          la cosa giusta, ma alla fine hanno capito che l'unica cosa che
          volevano era passare la loro vita insieme.
        </p>
      </div>
    </section>

    <section id="timeline">
      <div class="title">
        <h2 class="text-4xl">LA NOSTRA STORIA</h2>
      </div>
      <div
        class="container relative mx-auto bg-gray-200 shadow-md shadow-grey-400"
      >
        <!-- <div
          class="border border-solid absolute left-1/2 border-opacity-20 border-gray-700 h-full"
        ></div> -->
        <div
          class="relative grid grid-cols-[1fr,1rem,1fr] gap-x-4 gap-y-2 justify-items-stretch items-center overflow-hidden p-4 :md:p-10"
          id="events"
        >
          <template v-for="(event, i) in events" :key="`event_${i}`">
            <div
              :class="[`text-${event.color}-600`, 'pb-5', i % 2 === 0 ? 'text-right' : 'text-left']"
              :style="{order: 3*i + (i % 2 === 0 ? 1 : 3)}"
            >
              <div class="uppercase text-xl">{{ event.month }}</div>
              <div class="uppercase text-5xl font-bold">{{ event.year }}</div>
            </div>

            <div
              class="flex flex-col justify-center items-center"
              :style="{order: 3*i + 2}"
            >
              <div
                class="h-2.5 w-2.5 rounded-full mb-2"
                :class="[`bg-${event.color}-300`]"
              ></div>
              <div
                class="h-3 w-3 rounded-full mb-2"
                :class="[`bg-${event.color}-400`]"
              ></div>
              <div
                class="h-3.5 w-3.5 rounded-full mb-2"
                :class="[`bg-${event.color}-500`]"
              ></div>
              <div
                class="h-3 w-3 rounded-full mb-2"
                :class="[`bg-${event.color}-400`]"
              ></div>
              <div
                class="h-2.5 w-2.5 rounded-full mb-2"
                :class="[`bg-${event.color}-300`]"
              ></div>
              <div
                class="h-2 w-2 rounded-full"
                :class="[`bg-${event.color}-200`]"
              ></div>
            </div>

            <div
              :class="[`text-${event.color}-900`, 'pb-5', i % 2 === 0 ? 'text-left' : 'text-right']"
              :style="{order: 3*i + (i % 2 === 0 ? 3 : 1)}"
            >
              <div class="text-lg">{{ event.text }}</div>
            </div>
          </template>
        </div>
      </div>
    </section>

    <section id="checklist">
      <div class="title">
        <h2 class="text-4xl">WEDDING WORK IN PROGRESS</h2>
      </div>

      <div class="p-4 grid grid-cols-2 gap-x-4 md:grid-cols-3">
        <div v-for="(e, i) in todos" :key="i" class="flex items-center space-x-2">
          <div>
            <i class="mdi text-4xl" :class="[e.checked ? 'mdi-checkbox-marked-circle-outline' : 'mdi-checkbox-blank-circle-outline']"></i>
          </div>
          <p>
            {{ e.text }}
          </p>
        </div>
      </div>
      
    </section>


    <section id="partecipations">
      <div class="title">
        <h2 class="text-4xl">PARTECIPAZIONI</h2>
      </div>

      <div class="flex flex-col items-center">
        <div class="my-4 flex flex flex-col items-center">
          <figure class="">
            <img src="images/partecipations/chiesa_green.png">
          </figure>
          
          <div class="text-2xl text-center my-2">
            <p class="text-3xl">ore 11</p>
            <p>Chiesa Ss Nazaro e Celso</p>
          </div>
          
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2352.198608014073!2d8.868912740622266!3d45.48488359857862!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4786f22a4fb859bb%3A0x7dae5ea872cd3ccb!2sChiesa%20Parrocchiale%20dei%20Santi%20Nazaro%20e%20Celso!5e0!3m2!1sit!2sit!4v1644952223608!5m2!1sit!2sit"  style="border:0;" allowfullscreen="" loading="lazy"></iframe>
        
        </div>

        <div class="mt-6 flex flex flex-col items-center">
          <div>
            <figure class="inline-block">
              <img src="images/partecipations/ristorante.png">
            </figure>
            <figure class="inline-block">
              <img src="images/partecipations/torta.png">
            </figure>
          </div>
          
          <div class="text-2xl text-center my-2">
            <p>La Barcella</p>
          </div>
          
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2352.198608014073!2d8.868912740622266!3d45.48488359857862!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4786f22a4fb859bb%3A0x7dae5ea872cd3ccb!2sChiesa%20Parrocchiale%20dei%20Santi%20Nazaro%20e%20Celso!5e0!3m2!1sit!2sit!4v1644952223608!5m2!1sit!2sit"  style="border:0;" allowfullscreen="" loading="lazy"></iframe>
        
        </div>
      
      </div>
      
      
    </section>

    <script>
      const { ref, reactive } = Vue;

      const future = Date.parse("jun 04, 2022 10:30:00");

      Vue.createApp({
        setup() {
          const timer = reactive({
            d: {
              val: undefined,
              label: "Giorni",
            },
            h: {
              val: undefined,
              label: "Ore",
            },
            m: {
              val: undefined,
              label: "Minuti",
            },
            s: {
              val: undefined,
              label: "Secondi",
            },
          });

          const updateTimer = () => {
            let now = new Date();
            let diff = future - now;
            days = Math.floor(diff / (1000 * 60 * 60 * 24));
            hours = Math.floor(diff / (1000 * 60 * 60));
            mins = Math.floor(diff / (1000 * 60));
            secs = Math.floor(diff / 1000);

            timer.d.val = days;
            timer.h.val = hours - days * 24;
            timer.m.val = mins - hours * 60;
            timer.s.val = secs - mins * 60;
          };

          return {
            timer,
            updateTimer,
          };
        },
        // data() {
        //   return {
        //     timer: {days: undefined, hours: undefined, mins: undefined, secs: undefined}
        //   }
        // },
        created() {
          this.updateTimer();
          setInterval(this.updateTimer, 1000);
        },
      }).mount("#countdown");

      Vue.createApp({
        setup() {
          const days = reactive(["L", "M", "M", "G", "V", "S", "D"]);
          return { days };
        },
      }).mount("#calendar");

      Vue.createApp({
        setup() {
          const events = reactive([
            {
              month: "DICEMBRE",
              year: "2012",
              text: "Luca scrive a Francesca",
              color: "green",
            },
            {
              month: "GENNAIO",
              year: "2013",
              text: "Prima uscita",
              color: "emerald",
            },
            {
              month: "GENNAIO",
              year: "2013",
              text: "Primo bacio",
              color: "teal",
            },
            {
              month: "FEBBRAIO",
              year: "2013",
              text: "Ufficialmente insieme!!",
              color: "cyan",
            },
            {
              month: "LUGLIO",
              year: "2013",
              text: "Prima vacanza",
              color: "sky",
            },
            {
              month: "2014",
              year: "2015",
              text: "Anni di risate e tanto amore",
              color: "blue",
            },
            {
              month: "AGOSTO",
              year: "2016",
              text: "Prima grande litigata (spolier abbiamo fatto pace)",
              color: "indigo",
            },
            {
              month: "2017",
              year: "2019",
              text: "Altri anni di risate e tanto amore",
              color: "violet",
            },
            {
              month: "FEBBRAIO",
              year: "2020",
              text: '"COVID"',
              color: "purple",
            },
            {
              month: "MAGGIO",
              year: "2020",
              text: "Abbiamo superato anche il lockdown",
              color: "fuchsia",
            },
            {
              month: "AGOSTO",
              year: "2020",
              text: "COVID",
              color: "pink",
            },
            {
              month: "SETTEMBRE",
              year: "2021",
              text: '"Mi vuoi sposare?"',
              color: "rose",
            },
          ]);

          return { events };
        },
      }).mount("#timeline");


      Vue.createApp({
        setup() {
          const todos = reactive([
            {
              text: "Anello",
              checked: true
            },
            {
              text: "Proposta",
              checked: true
            },
            {
              text: "Francesca dice di sì!",
              checked: true
            },
            {
              text: "Data",
              checked: true
            },
            {
              text: "Chiesa",
              checked: true
            },
            {
              text: "Testimoni",
              checked: true
            },
            {
              text: "Location",
              checked: true
            },
            {
              text: "Fiori",
              checked: true
            },
            {
              text: "Invitati",
              checked: true
            },
            {
              text: "Partecipazioni",
              checked: false
            },
            {
              text: "Bomboniere",
              checked: false
            },
            {
              text: "Fotografo",
              checked: true
            },
            {
              text: "DJ",
              checked: true
            },
            {
              text: "Abito sposa",
              checked: true
            },
            {
              text: "Abito sposo",
              checked: false
            },
            {
              text: "Fedi",
              checked: false
            },
            {
              text: "Casa",
              checked: true
            },
            {
              text: "Mobili",
              checked: false
            },
          ]);

          return { todos };
        },
      }).mount("#checklist");
    </script>
  </body>
</html>
